body {
  font-family: 'Roboto', sans-serif;
} 

a {
  text-decoration: none !important;	
}

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; /* override background image gradient w/ flat color */
}

.main-title {
	color: white !important;
}

.emotion-li {
    color:darkgreen;
    font-size: 1.5em;
    list-style: none;
    margin-left: -20px;
}
.panel-body {

	padding: 6px !important;
	border-style: 0px solid !important;
	cursor: pointer;
	display: inline-block; 
}

.panel-default{
	border-color: #2c4053 !important;
}

.itemList {

  background-color: transparent;
  margin-right: 10px !important;
  border-style: 0px solid !important;
  display: inline-block;
}

.card {
	background-color: #2c4053;
	color:white;
}

#menu{
	height: 19em;
	overflow-y: hidden;
	white-space:nowrap !important;
}

.thumbs {
	width: 10em !important;

}

.article-heading{
	color:#2c4053;
	font-size: 4em !important;
	text-decoration: none !important;
}

p{
	color:#2c4053;
	font-size: 3em !important;
	text-decoration: none !important;

}

.drag{
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


